<h1> Formulário </h1>

<form action="upload" method="POST" enctype="multipart/form-data">
	<label for="file">Enviar arquivo</label>
		<input type="file" id="file" name="file">
		<input type="submit" value="Enviar">
</form>